<nav>
  <div class="logo-container">
    <div class="logo-text">AU</div>
  </div>
  <ul>
    <li><a href="/" class="home-link">Home</a></li>
    <li><a href="#work" class="work-link">Work</a></li>
    <li><a href="#contact" class="contact-link">Contact</a></li>
    <li><a href="/blogs" class="blog-link">Blog</a></li>
  <div class="hunter-safety-container">
    <h1 class="hunting-header-left">Want to give feedback on my blogs and portfolios? <%= login_helper 'btn btn-lg btn-secondary' %></h1>
  </div>        
</nav>