<div class="header-container">
  <div class="animate-container"></div>
  <div class="header-container-overlay"></div>
  <div class="header-text-container">
    <h1 class="header">My</h1>
    <h1 class="header">Portfolio</h1>
    <h2 class="subheader">Alfredo Urdaneta</h2>
  </div>
  <div class="quote-container">
    <div class="quote-text-container">
      <h1 class="title">Full-Stack Developer</h1>
      <h1 class="title">Usable Back-Ends complemented by Beautiful Front-Ends.</h1>
    </div>
  </div>
</div>