<div class="collapse" id="jobHistory">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/apple-needs.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>Founder</strong> - Started an Amazon business specializing in phone accessories. Used machine learning to calculate risks and rewards of different possible products before manufacturing. Put together graphic design, name, photography, and marketing for entire company.
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/rockwell.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>Event Marketer</strong> - Marketed events for the high-end club, networked with and managed big clients, and used strategic thinking for stressful situations.
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/kare.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>Sales Specialist</strong> - Helped used sales strategies to attract clients to purchase high-end furniture. Took initiative to bring in more clients by developing and implementing marketing strategies. Helped update and better the interactive technology systems.
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/kelley.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>Office Assistant</strong> - Trusted jack-of-all-trades. Responsibilities ranged anywhere from chofer to event organizer to legal assistant. Undertook project to convert to digital files.
      </div>
    </div>
  </div>
</div>