<div class="collapse" id="education">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/startup.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        Currently finishing Startup Institute Web Development program in Boston.
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/fiu.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        Studied Internation Business in the Honors College.
      </div>
    </div>
  </div>
</div>