<div class="contact-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    
    <ol class="list-unstyled">
    
      <li><h3>Phone</h3></li>

      <li><p><%= number_to_phone "(954) 478-0102" %></p></li> 

      <li><h3>Email</h3></li> 

      <li><p><a href="mailto:alfredo.i.urdaneta@gmail.com?subject=PortfolioContact" "email me">alfredo.i.urdaneta@gmail.com</a></p></li> 

      <ol class="list-unstyled social-links">
        <li><a href="https://github.com/aurda012"><%= fa_icon "github" %></a></li>
        <li><a href="#"><%= fa_icon "linkedin" %></a></li>
        <li><a href="https://twitter.com/alfredothinks"><%= fa_icon "twitter" %></a></li>
      </ol>
    </ol>
  </div>
</div>