<!DOCTYPE html>
<html>
  <body>
    <nav>
      <div class="logo-container">
        <div class="logo-text">AU</div>
      </div>
      <ul>
        <li><a href="#about" class="about-link">About</a></li>
        <li><a href="#process" class="process-link">Process</a></li>
        <li><a href="#portfolio" class="portfolio-link">Portfolio</a></li>
        <li><a href="#skills" class="skills-link">Skills</a></li>
        <li><a href="#contact" class="contact-link">Contact</a></li>
        <li><i><%= link_to 'Blog', blogs_path %></i></li><i class="hunting-icon fa fa-sign-in fa-2x"></i>
      </ul>
      <div class="hunter-safety-container">
        <h1 class="hunting-header-left">Want to give feedback on my blogs and portfolios? <%= login_helper 'btn btn-lg btn-secondary' %></h1>
      </div>        
    </nav>
    <div class="header-container">
      <div class="animate-container"></div>
      <div class="header-container-overlay"></div>
      <div class="header-text-container">
        <h1 class="header">Alfredo Urdaneta</h1>
        <h2 class="subheader">Full-Stack Developer</h2>
      </div>
      <div class="quote-container">
        <div class="quote-text-container">
          <h1 class="title">My inspiration comes from creation. </h1>
          <h1 class="title">Creation has the power to change lives.</h1>
        </div>
      </div>
    </div>
    <div id="about" class="about-container">
      <div class="road-container"><i aria-hidden="true" class="dirigo fa fa-road"></i></div>
      <div class="inner-about">
        <h1>I am bored by convention.</h1>
        <p>
           A common trait among gifted students, I started working at a law firm when I was 16 and began taking college classes to meet my high school requirements.  My motivation was a car and relief from the stiflingly rigid secondary school system.  When I enrolled in college full-time, I found learning by memorization to be pointless.  I thrive by doing and achieving results.  I took up coding as a hobby and decided to make it my career.  
        </p> 
      </div>
    </div>
    <div id="process" class="process-container">
      <h1 class="process-title">Process</h1>
      <div class="process-inner-container">
        <div class="process-vertical-container"></div>
        <div class="process-left-container first-process"><i class="process-icon fa fa-pencil fa-4x"></i>
          <div class="process-text-container">
            <div class="process-text-header no-margin-top">Design</div>
            <p class="process-text">It starts with an idea. Whether it's on paper or in a program like Sketch, it starts with having a basic outline of how we're going to solve a problem. After gathering data and looking at the trends, I like to create an ideal design blueprint for what I will be creating.</p>
          </div>
        </div>
        <div class="process-right-container second-process"><i class="process-icon fa fa-code fa-4x icon-right"></i>
          <div class="process-text-container right-process-text-container">
            <div class="process-text-header">Develop</div>
            <p class="process-text">Once I have a clear design mocked up, it's time to start coding. I start by creating and testing all my backend features to make sure the base of my application will work. Back-end frameworks like Ruby on Rails or Node allow for a broad range of data customization and dynamic content generation. Optimization and page load times are key, while still being able to function across all platforms. Front-end frameworks like Bootstrap help the development stage get faster, more efficient, and more functional than ever before. It's an ongoing learning process with new technologies coming out every day.</p>
          </div>
        </div>
        <div class="process-left-container third-process"><i class="process-icon fa fa-ship fa-4x"></i>
          <div class="process-text-container">
            <div class="process-text-header no-margin-top">Deploy</div>
            <p class="process-text">Once the design and development of the project is near completion it's time to deploy the project. During this stage is when I push projects live on a web server or a service like Heroku to get it on the web for the first time. The testing during this stage is much more hands on, with users physically interacting with the product and giving valuable feedback. Once all is considered and revisions have been implemented we can finally push out version 1.0.</p>
          </div>
        </div>
        <div class="process-right-container extra-padding-bottom fourth-process"><i class="process-icon fa fa-calendar fa-4x icon-right"></i>
          <div class="process-text-container right-process-text-container">
            <div class="process-text-header">Deliver</div>
            <p class="process-text">The best stage during the whole process is delivering the final product. It's important to deliver a working product that scales and gets the job done on time. There's nothing like seeing my initially vague idea become reality. It makes the whole process worth it. I strive to deliver the best product I can, with thoughtful design, bug free development, and extensive iterations to cater to all sorts of users. </p>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio" class="work-container">
      <div class="work-header-container">
        <h1 class="work-header">Work</h1>
      </div>
      <div class="work-item-container work-portfolio">
        <div class="work-panel-container portfolio work-background work-portfolio1">
          <a href='/portfolios'><h1 class="mobile-logo work-logo">See Portfolio</h1></a>
            <a href='/portfolios'>
            <div class="work-button"> 
              <p>See My Full Portfolio!</p>
            </div></a>
        </div>
        <div class="work-panel-ribbon portfolio-ribbon work-portfolio2">
          <div class="work-text-container work-portfolio3">
            <h1 class="work-logo">Portfolio</h1>
            <h3 class="work-role-title">Role</h3>
            <h2 class="work-role-description">Front End - Back End - Development - Design</h2>
            <h3 class="work-role-title">Tools</h3>
            <h2 class="work-role-description">Jade - Stylus - JavaScript - jQuery - Ruby On Rails</h2>
            <h3 class="work-role-title project-mission-title">Mission</h3>
            <p class="work-mission-description">Welcome to my new portfolio site, you're looking at it! For this project I wanted to show off a little bit of everything. From typography, JavaScript, and non-standard color pallette, this website encompasses who I am. I wanted it to be clean and user friendly while still displaying my personality, after all, camo is my favorite color. This site uses jQuery and JavaScript and a Ruby on Rails backend for my case studies pages. I created my own login and CMS in Rails which allows for dynamic content to be uploaded and changed. Thanks for visiting!</p>
          </div>
        </div>
      </div>
    </div>
    <div id="skills" class="tools-container">
      <div class="tools-header-container">
        <h1 class="chart-title">Skills</h1>
        <div class="chart-container bar-chart">
          <canvas id="myBarChart" width="200" height="200"></canvas>
        </div>
        <div class="chart-container doughnut-chart">
          <canvas id="myDoughnutChart" width="200" height="200"></canvas>
        </div>
      </div>
    </div>
    <div id="contact" class="contact-container">
      <h1 class="contact-header">Let's talk about the next <b>big</b> thing.</h1>
      <div class="social-container"><a href="mailto:alfredo.i.urdaneta@gmail.com"><i class="social-icon fa fa-envelope fa-4x"></i></a><a href="http://www.linkedin.com/in/alfredourdaneta"><i class="social-icon fa fa-linkedin fa-4x"></i></a><a href="http://www.angel.co/alfredourdaneta"><i class="social-icon fa fa-angellist fa-4x"></i></a><a href="http://www.github.com/aurda012"><i class="social-icon fa fa-github fa-4x"></i></a></div>
      <h5 class="contact-blog">Click the <i class="hunting-icon-blog fa fa-sign-in fa-2x"></i> to Sign-Up for my Blog!</h5>
    </div>
    <div class="footer">
      <h5 class="footer-text">© 2017 | Alfredo Urdaneta </h5>
    </div>
    <div class="footer-tree-container">
      <div class="footer-icon-container"><i class="footer-icon-tree fa fa-road fa-4x"></i></div>
      <h1>© 2017 | Alfredo Urdaneta </h1>
  </body>
</html>