html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
images {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
*:focus {
  outline: none;
}
a {
  color: #222;
  padding: 0;
  margin: 0;
}
a:hover {
  color: #2ecc40;
}
.badge {
  width: 400px;
  height: 50px;
  background: #2ecc40;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 30px;
  left: -120px;
  z-index: 3;
  outline: dashed;
  outline-offset: -10px;
  outline-color: #27af37;
  box-shadow: 1px 2px 10px #000;
}
.badge-text {
  font-size: 0.9em;
  color: #fff;
  font-family: "Rubik", sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #27af37;
  padding: 14px 20px 0 0;
  margin: 0 0 0 0;
}
nav {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
nav ul {
  list-style: none;
  float: right;
  padding-right: 100px;
  margin: 0;
}
nav li {
  display: inline-block;
  margin: 0;
  padding: 30px 15px;
}
nav a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  text-shadow: 5px;
  color: #222;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
  padding: 30px 15px;
}
nav a:hover {
  color: #fff;
}
.nav-scroll {
  background: rgba(0,0,0,0.5);
  position: fixed;
  box-shadow: 0 0 1px #000;
  height: 60px;
}
.nav-scroll-list {
  padding: 20px 15px;
}
.nav-scroll-list a {
  color: #ddd;
}
.nav-underline {
  border-bottom: 2px solid #2ecc40;
  padding-bottom: 3px;
}
.logo-container {
  background: transparent;
  border: 2px solid #fff;
  height: 51px;
  width: 51px;
  border-radius: 50%;
  float: left;
  margin: 5px 0px 0px 100px;
  opacity: 0;
}
.logo-container:hover {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: border-color;
          animation-name: border-color;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  cursor: pointer;
}
.logo-text {
  color: #fff;
  font-family: devil;
  font-size: 32px;
  letter-spacing: -6px;
  padding-bottom: 8px;
  padding-left: 4px;
}
.logo-container:hover .logo-text {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: logo-text;
          animation-name: logo-text;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.hunting-icon {
  color: #ff7900;
  position: relative;
  cursor: pointer;
  top: 5px;
  padding-left: 30px;
}

.hunting-icon-blog {
  color: #ff7900;
  position: relative;
  cursor: pointer;
  top: 6px;
  padding: 0 3px 0 3px;
}

.hunting-icon:hover {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: deer-animation;
          animation-name: deer-animation;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.hunter-safety-container {
  width: 100%;
  height: 200px;
  background: #ff7900;
  position: fixed;
  top: -240px;
  z-index: 4;
  box-shadow: 0px 0px 3px #000;
  border-bottom: 25px double #546935;
}
.hunting-header-left {
  padding: 40px 80px;
  font-family: 'Abel';
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  color: #ffdc00;
  font-size: 2em;
  width: 860px;
}
.hunting-header-right {
  padding-top: 40px;
  text-align: right;
  font-family: 'Abel';;
  font-weight: 700;
  letter-spacing: 5px;
  color: #ffdc00;
  font-size: 1.8em;
  width: 1200px;
}
.header-container {
  width: 100%;
  height: 180vh;
  position: relative;
  background: -webkit-linear-gradient(#fff 0%, #000 100%);
  background: linear-gradient(#fff 0%, #000 100%);
  box-shadow: 0 0 2px #252825;
  overflow: hidden;
}
.header-container-overlay {
  width: 100%;
  height: 100%;
  background: image-url('city.jpg');
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-text-container {
  width: 45%;
  height: 400px;
  top: 270px;
  left: 210px;
  position: absolute;
}
.header {
  font-family: 'Heebo', sans-serif;
  color: #222;
  font-size: 7em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.85;
  margin: 0;
  padding: 0;
}
.subheader {
  font-family: 'Work Sans', sans-serif;
  color: #111;
  font-size: 2.3em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 5px;
}
.animate-container {
  margin-top: -210px;
  width: 100%;
  height: 220vh;
  background: image-url('fog.png');
  background-position: 0 0;
  background-repeat: repeat;
  position: absolute;
  -webkit-animation: animated 60s linear infinite;
          animation: animated 60s linear infinite;
}
.main-content-container {
  width: 100%;
  height: 200vh;
  background: #111;
}
.quote-container {
  height: 600px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.quote-text-container {
  width: 80%;
  margin: 0px 10%;
  height: 400px;
  padding-top: 120px;
  position: relative;
}
.title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #fff;
  font-size: 2.15em;
  text-transform: uppercase;
  margin-bottom: -15px;
}
.text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.55em;
  text-align: center;
  text-shadow: 0px 0px 7px #000;
  line-height: 1.5;
}
.process-container {
  width: 100%;
  float: left;
  margin: 0;
  background: #252825;
  padding: 100px 0;
  height: 2250px;
}
.process-title {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 4.25em;
  color: #eee;
  text-transform: uppercase;
  font-weight: 400;
  margin: 40px 0 80px 0;
}
.process-inner-container {
  width: 80%;
  margin: 0 10%;
}
.process-left-container {
  width: 50%;
  float: left;
  margin: 50px 0 0 -120px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.process-vertical-container {
  width: 1px;
  height: 1700px;
  background: #fff;
  position: absolute;
  left: 50%;
}
.process-right-container {
  width: 50%;
  margin: 160px -120px 0 0;
  float: right;
  box-sizing: border-box;
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.third-process {
  margin-top: 325px;
  margin-bottom: 50px;
}
.process-text-container {
  width: 65%;
  margin: 0 10% 0 25%;
  border-radius: 5px;
  padding-right: 20px;
}
.right-process-text-container {
  margin: 0 25% 0 10%;
  padding-left: 20px;
  padding-right: 0;
}
.process-text-header {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  font-size: 1.05em;
  margin-top: 240px;
  border-bottom: 3px solid #fff;
  padding-bottom: 2px;
  width: 33.333%;
}
.slide {
  display: block;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 1;
  margin-left: 0;
}
.slide1 {
  display: block;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: slide1;
          animation-name: slide1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 1;
  margin-right: 0;
}
.no-margin-top {
  margin-top: 100px;
}
.extra-margin-top {
  margin-top: 450px;
}
.extra-padding-bottom {
  padding-bottom: 100px;
}
.process-text {
  color: #fff;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.15em;
  padding-top: 10px;
}
.process-icon {
  color: #ff7900;
  font-size: 4em;
  position: relative;
  left: 50%;
  top: 40px;
}
.icon-right {
  left: 40%;
  top: 180px;
}
.work-container {
  width: 100%;
  float: left;
}
.work-header-container {
  width: 100%;
  float: left;
  margin: 0;
  background: #252825;
  padding: 0 0 10px;
  display: none;
}
.work-header {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 4.25em;
  color: #eee;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 50px 0;
}
.mobile-logo {
  display: none;
}
.work-item-container {
  width: 100%;
  float: left;
  position: relative;
  background: #000;
}
.work-item-container a {
  color: #fff;
}
.work-item-container a:hover p {
  border-bottom: 3px solid #2ecc40;
  padding-bottom: 2px;
}
.work-panel-container {
  width: 100%;
  height: 120vh;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}
.work-panel-ribbon {
  width: 30%;
  margin-left: 200px;
  position: absolute;
  height: 0;
  top: 0;
  box-sizing: border-box;
  -webkit-transition: height 0.5s ease, opacity 0.5s ease;
  transition: height 0.5s ease, opacity 0.5s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.work-text-container {
  width: 80%;
  margin: 30px 10% 11px;
  color: #fff;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.work-role-title {
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  font-size: 0.85em;
  padding: 0 0 0 3px;
  margin: 15px 0;
  text-transform: uppercase;
}
.work-role-description {
  font-weight: 300;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.15em;
  padding: 0 0 0 3px;
  margin: -10px 0 0;
}
.work-mission-title {
  margin-top: 30px;
}
.work-mission-description {
  font-weight: 400;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.05em;
  padding: 0 0 0 3px;
  margin: -10px 0 0;
  line-height: 1.5;
  text-align: left;
}

.portfolio-ribbon {
  background: -webkit-linear-gradient(#666, #555);
  background: linear-gradient(#666, #555);
  background-color: #555;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.work-background {
  background-position: bottom;
  background-repeat: no-repeat;
}

.text-white {
  color: #fff;
}

.portfolio {
  background: image-url('city.jpg');
  background-size: cover;
  background-color: #000;
}
.portfolio-logo {
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
}
.work-panel-container-slide {
  width: 100%;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: work-slide;
          animation-name: work-slide;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 1;
}
.work-panel-ribbon-slide {
  height: 100%;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: ribbon-slide;
          animation-name: ribbon-slide;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 1;
}
.work-button {
  background: rgba(0,0,0,0.5);
  border: 2px solid #fff;
  box-sizing: border-box;
  height: 80px;
  padding: 8px 0 0;
  position: absolute;
  top: 42%;
  left: 67%;
  width: 200px;
}
.work-button p {
  width: 65%;
  margin: 0 auto;
  font-size: 1.25em;
  text-align: center;
  color: #fff;
}
.tools-container {
  width: 100%;
  height: 130vh;
  float: left;
  background: #605a44;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tools-header-container {
  width: 100%;
  background: #605a44;
}
.chart-container {
  width: 40%;
  float: left;
  position: relative;
  margin: 0px 30% 300px;
}
.chart-title {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 4.25em;
  color: #222;
  text-transform: uppercase;
  font-weight: 400;
  padding: 100px 0;
  margin: 0;
}
canvas {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
.doughnut-chart {
  display: none;
}
.about-container {
  background: white;
  box-shadow: 2px 2px 4px shadow;
  float: left;
  padding-top: 60px;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.road-container {
  float: left;
  margin-left: -150px;
  width: 420px;
}
.dirigo {
  color: dark-grey;
  font-size: 25em;
  text-shadow: 1.5px 1.5px 1.5px #27af37;
}
.inner-about {
  margin: 0 auto;
  max-width: 867px;
  padding: 60px 120px 0;
  position: relative;
}
.inner-about h1 {
  color: grey;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding: 0;
  text-align: center;
  text-shadow: 0 1px 1px #27af37;
}
.inner-about p {
  color: grey;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.35em;
  line-height: 1.8;
  text-align: center;
  text-shadow: 0 1px 1px white;
  font-weight: 400;
}
.contact-container {
  background: #eee;
  float: left;
  margin-bottom: 62px;
  width: 100%;
  height: 75vh;
}
.contact-header {
  font-family: 'Work Sans', sans-serif;
  padding: 0 115px 50px 90px;
  margin-top: 160px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

.contact-blog {
  font-family: 'Work Sans', sans-serif;
  padding: 0 115px 50px 90px;
  margin-top: 90px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

.social-container {
  margin: 60px auto;
  max-width: 530px;
}
.social-icon {
  padding: 35px;
}
.social-icon:hover {
  color: #2ecc40;
}
.footer {
  background: white ;
  bottom: 0;
  float: left;
  height: 62px;
  position: fixed;
  width: 100%;
  z-index: -1;
}
.footer-text {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
}

.footer-tree-container {
  display: none;
}
@font-face {
  font-family: devil;
}
@font-face {
  font-family: deer;
  src: url('Deers.ttf');
}
@font-face {
  font-family: zoo;
  src: url('zoologic.ttf');
}
@font-face {
  font-family: gun;
  src: url('gunplay.ttf');
}
@font-face {
  font-family: dday;
  src: url('D Day Stencil.ttf');
}
@media only screen and (max-width: 1200px) {
  .process-text-container {
    width: 80%;
    margin: 0 10%;
  }
  .right-process-text-container {
    margin: 0 10%;
  }
  .work-panel-ribbon {
    width: 35%;
  }
  .animate-container {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .header-text-container {
    top: 420px;
    left: 110px;
  }
  .quote-text-container {
    width: 90%;
    margin: 0px 5%;
  }
  .title {
    font-size: 1.75em;
  }
  .work-panel-ribbon {
    margin-left: 100px;
    width: 42%;
  }
  .chart-container {
    width: 60%;
    margin: 0 20%;
  }
  .inner-about {
    width: 58%;
    margin: 120px 0 0 35%;
    padding: 0;
  }
  .inner-about p {
    font-size: 1em;
    color: grey;
  }
  .contact-container {
    margin-bottom: 0;
  }
  .footer {
    display: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header-container-overlay {
    width: 100%;
    height: 100%;
    background: image-url('city.jpg');
    background-size: cover;
    position: absolute;
    opacity: 0.4;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-container {
    height: 60vh;
  }
  .work-panel-container {
    width: 100%;
    height: 55vh;
  }
  .work-panel-ribbon {
    width: 42%;
  }
  .tools-container {
    height: 80vh;
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    display: none;
  }
  .header-text-container {
    width: 70%;
  }
  .work-mission-description {
    font-size: 0.9em;
  }
  .process-text {
    font-size: 0.9em;
  }
  .tree-container {
    display: none;
  }
  .inner-about {
    width: 72%;
    margin: 0 auto 120px auto;
    position: relative;
  }
  .blaze-logo {
    font-size: 3em;
  }
  .opcode-logo {
    font-size: 2em;
  }
  .weather-logo {
    font-size: 2em;
  }
  .bandaloop-logo {
    font-size: 3em;
  }
}
@media only screen and (max-width: 768px) {
  .header-container {
    height: 140vh;
  }
  .header-text-container {
    top: 40%;
    left: 60px;
  }
  .header-container-overlay {
    background-attachment: inherit;
  }
  .quote-container {
    height: 35%;
  }
  .work-panel-ribbon {
    width: 50%;
    margin-left: 0;
  }
  .bar-chart {
    display: none;
  }
  .doughnut-chart {
    display: block;
  }
  .tools-container {
    height: 55vh;
  }
  .chart-title {
    font-size: 3em;
    padding: 20% 0;
  }
  .social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-header {
    padding: 0 50px 50px;
    font-size: 1.25em;
  }
  .social-icon {
    font-size: 1em;
    padding: 25px;
  }
}
@media only screen and (max-width: 700px) {
  .header-container {
    height: 70vh;
  }
  .header-text-container {
    top: 45%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .header {
    font-size: 2em;
  }
  .subheader {
    font-size: 1.5em;
  }
  .quote-container {
    height: 35%;
  }
  .quote-text-container {
    width: 95%;
    padding: 0;
    margin: 0 2.5%;
  }
  .title {
    font-size: 1em;
  }
  .process-vertical-container {
    display: none;
  }
  .process-title {
    margin: 50px 0;
    font-size: 3em;
  }
  .process-container {
    height: 2000px;
  }
  .process-text-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .process-left-container {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .process-right-container {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
  }
  .right-process-text-container {
    margin: 0;
  }
  .process-icon {
    left: 0;
    top: 40px;
  }
  .process-text-header {
    text-align: left;
    margin: 0;
  }
  .process-text {
    text-align: left;
  }
  .process-text-container {
    margin-top: 100px;
  }
  .work-header-container {
    display: block;
  }
  .work-panel-container {
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-button {
    display: none;
  }
  .work-panel-ribbon {
    width: 100%;
    margin-left: 0;
    position: relative;
    display: none;
  }
  .mobile-logo {
    display: block;
    text-align: center;
  }
  .show {
    display: block;
  }
  .work-text-container {
    margin: 0px auto;
    padding: 10px 0 20px;
  }
  .work-role-description {
    font-size: 1em;
  }

  .portfolio-link {
    font-size: 1.4em;
  }

  .contact-container {
    margin-bottom: 200px;
  }
  .footer {
    display: none;
  }
  .footer-tree-container {
    background: #333;
    bottom: 0;
    height: 400px;
    position: fixed;
    width: 100%;
    z-index: -1;
    display: block;
  }
  .footer-tree-container h1 {
    color: #fff;
    font-family: 'Fire Sans', sans-serif;
    font-size: 0.85em;
    letter-spacing: 1px;
    padding: 20px 0 0;
    text-align: center;
    text-shadow: 0px 0px 2px #000;
  }
  .footer-icon-container {
    margin: 240px auto 0;
    text-align: center;
  }
  .footer-icon-tree {
    color: #2ecc40;
  }
}
@-webkit-keyframes animated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes animated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-webkit-keyframes border-color {
  0% {
    border-color: #fff;
  }
  33% {
    border-color: #4eac42;
  }
  66% {
    border-color: #2e8300;
  }
  100% {
    border-color: #0ce309;
  }
}
@keyframes border-color {
  0% {
    border-color: #fff;
  }
  33% {
    border-color: #4eac42;
  }
  66% {
    border-color: #2e8300;
  }
  100% {
    border-color: #0ce309;
  }
}
@-webkit-keyframes logo-text {
  0% {
    color: #fff;
  }
  33% {
    color: #4eac42;
  }
  66% {
    color: #2e8300;
  }
  100% {
    color: #0ce309;
  }
}
@keyframes logo-text {
  0% {
    color: #fff;
  }
  33% {
    color: #4eac42;
  }
  66% {
    color: #2e8300;
  }
  100% {
    color: #0ce309;
  }
}
@-webkit-keyframes deer-animation {
  0% {
    color: #ff7900;
    border-color: #ff7900;
  }
  33% {
    color: #d13f19;
    border-color: #d13f19;
  }
  66% {
    color: #ff4500;
    border-color: #ff4500;
  }
  100% {
    color: #ffdc00;
    border-color: #ffdc00;
  }
}
@keyframes deer-animation {
  0% {
    color: #ff7900;
    border-color: #ff7900;
  }
  33% {
    color: #d13f19;
    border-color: #d13f19;
  }
  66% {
    color: #ff4500;
    border-color: #ff4500;
  }
  100% {
    color: #ffdc00;
    border-color: #ffdc00;
  }
}
@-webkit-keyframes move-animation {
  0% {
    top: 0;
  }
  100% {
    top: 240px;
  }
}
@keyframes move-animation {
  0% {
    top: 0;
  }
  100% {
    top: 240px;
  }
}

 /*# sourceMappingURL=application.css.scss.map */